<!-- <p>login works!</p> -->
<div class="maindiv row justify-content-center">
    <mat-card class="main_matcard col-md-4 position-relative align-items-center align-self-center p-4">
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="submit()">
                <!-- <mat-card-title class="text-center">Login</mat-card-title> -->
                <div class="mt-5">
                    <mat-form-field class="no-underline">
                        <!-- <mat-label>Username</mat-label> -->
                        <mat-icon matPrefix>person</mat-icon>
                        <input matInput class="custom-input" placeholder="emilys" formControlName="username"
                            autocomplete="username" required>
                    </mat-form-field>
                    @if(Username?.invalid && Username?.touched || Username?.dirty || submitted){
                    <div class="errordiv">
                        @if(Username?.errors?.['required']){
                        <div class="text-danger word-wrap">
                            Username is required.
                        </div>
                        }
                        @if( Username?.errors?.['pattern']){
                        <div class="text-danger word-wrap">
                            Username email format.
                        </div>
                        }
                    </div>
                    }

                </div>
                <div class="">
                    <mat-form-field class="no-underline">
                        <mat-icon matPrefix>password</mat-icon>
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="emilyspass"
                            formControlName="password" class="custom-input" autocomplete="password" required>
                        <mat-icon-button matSuffix type="button" (click)="hide = !hide" class="p-2">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </mat-icon-button>
                    </mat-form-field>
                    @if (password?.invalid && password?.touched || password?.dirty || submitted) {
                    <div class="errordiv">
                        @if(password?.errors?.['required']){
                        <div class="error-mess text-danger">Password is required.</div>
                        }
                    </div>
                    }
                </div>

                <div class="button text-center">
                    <button type="submit" mat-button class="p-4 pt-2 pb-2 border rounded">Login</button>
                </div>

            </form>
        </mat-card-content>

    </mat-card>
</div>