<div class="container">
    <h1>FCM Token from Cloud</h1>
    <pre>{{showtoken}}</pre>
    @if(showtoken){

    <div class="row justify-content-center">
        <mat-card class="col-md-4">
            <button (click)="routeNav('ddform')">Drag & Drop form</button>
        </mat-card>
        <mat-card class="col-md-4">
            <button (click)="routeNav('dynamicform')">Dynamic form field</button>
        </mat-card>
        <mat-card class="col-md-4">
            <button (click)="routeNav('')"> form</button>
        </mat-card>
    </div>
    }
</div>