.img-fluid {
    height: 300px;
    width: 300px;
}

.titleGetTxt::before {
    content: ':';
    position: relative;
    left: -50px;
}

.titleTxt {
    font-weight: bold !important;
    opacity: 0.8;
}